body {
	font-family: Georgia;
	margin: 0px;
	border: none;
	margin: 0px;
}
#header {
	margin: 0px;
	border: 0px;
	padding: 5px;
	color: #333;
	background-color: #EEE;
	height: 3em;
}
#navigation {
	float: right;
	position: absolute; 
	top: 0; 
	right: 0; 
	margin: 0; 
	padding: 0;
	z-index: 2000;
}
#status {
	float: left;
}
#status .title {
	font-size: 1.5em;
}
#navigation, #status {
	margin-left: 8em;
}

#navigation p,
#navigation ol {
	list-style-type: none; 
	word-spacing: 0px;
	display: inline;
	padding: 0px;
}
#navigation .nav {
	cursor: pointer;
	font-size: 1.1em;
}
#navigation li {
	color: #EEE;
	display: inline;
	cursor: pointer;
	border: 1px solid #333;
	font-size: 5px;
	margin-left: -6px;
	margin-right: 0px;
	padding: 0px;
}
#navigation li.visited {
	background-color: #333;
	border: 1px solid #333;
	color: #333;
}
#navigation li.selected {
	background-color: #333;
	color: #EEE;
}
.presentation li:before {
	content: "◎";
}
.presentation li a {
	display: none;
}

#status .index {
	font-style: bold;
	font-size: 1.8em;
	padding-right: 0.5em;
}
#status .index:after {
	content: ".";
}
#status a:link,
#status a:visited {
	color: #333;
	text-decoration: none;
}

#status a:active,
#status a:hover {
	text-decoration: underline;
}
